.main {
  background-color: #ccccb3;
  grid-column: 2 / 5;
  padding-left: $standard-padding-l;

  ul {
    list-style: inside;
    margin: $standard-margin-tb;
  }

  table,
  th,
  td {
    border: 1px solid $base2-color;
    border-collapse: collapse;
    padding: 0.5rem;
  }
  #span {
    font-size: 1rem;
    font-style: italic;
  }
  .code {
    background-color: $base-color;
    width: 30vw;
    padding: $standard-padding-full;
  }
}
