/// LAYOUT COLORS
$base-color: #fcfcfc;
$base2-color: #808080;

/// MISC
$em-color: #0052cc;

/// STANDARD MARGIN
$standard-margin-l: 2rem;
$standard-margin-tb: 1rem 0;

/// STANDARD PADDING
$standard-padding-l: 2rem;
