/// LAYOUT COLORS
$base-color: #fcfcfc;
$base2-color: #808080;

/// FONT COLORS
$h2-color: #333333;
$script-color: #00802b;

/// MISC
$em-color: #0052cc;

/// STANDARD MARGIN
$standard-margin-l: 2rem;
$standard-margin-r: 2rem;
$standard-margin-tb: 1rem 0;

/// STANDARD PADDING
$standard-padding-l: 2rem;
$standard-padding-full: 1rem;
