main {
  background-color: $base-color;
  grid-row: 3/ 4;
  grid-column: 2 / 13;
  padding: $standard-padding;
}

.cobit__main {
  padding: $standard-padding;
  display: grid;
  justify-content: center;
  ul {
    padding: $standard-padding;
  }
  dl {
    margin: $standard-padding 0;
  }
  dt {
    font-weight: bold;
  }
}
