* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  @media only screen and (max-width: 75em) {
    font-size: 50%;
  }
}

//RESPONSIVE BREAK POINTS

//1200px
$bp-largest: 75em;
