/// LAYOUT COLORS
$prime-color: crimson;
$base-color: #fcfcfc;
$base2-color: #808080;
$base3-color: hotpink;
$base4-color: orange;
$base5-color: lightgreen;

/// PADDING
$standard-padding: 1rem;

/// MARGIN
$standard-margin: 1rem;
